<!-- <section class="vh-100" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block login-left">
                <img
                  src="/assets/images/login-left.png"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body text-black">
  
                  <form [formGroup]="loginForm">
  
                    <div class="d-flex align-items-center ">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <h1 id="login-title">Hello,</h1>
                      
                    </div>
                    <p id="login-description">5651 ve 5070 yasa uyumlu loglama yazılımı.</p>
  
  
                    <div class="form-outline mb-4">
                      <input type="email" formControlName="email" class="form-control form-control-lg"  placeholder="E-Mail"/>
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password"  formControlName="password" class="form-control form-control-lg"  placeholder="Password"/>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" (click)="login()" type="button">Login</button>
                    </div>

                    <a href="#!" class="small text-muted">Terms of use.</a>
                    <a href="#!" class="small text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->


  
  <div id="particles-js">
    <div class='wrap'>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
        <div class='c'></div>
      </div>
      
    <div class="container ">
        <div class="row">            
            <div class="login-container col-lg-4 col-md-6 col-sm-8 col-xs-12">
                 <div class="login-title ">
                    <img src="/assets/images/oriana-logo.png" width="250" alt="" srcset="">
                    <p id="login-description">Your Data's Your Power</p>
                 </div>
                <div class="" *ngIf="isCodeSended== false">
                    <div class="login-header text-center ">
                    <div class="login-body">
                        <form role="form"  [formGroup]="passwordForgotForm"  class="login-form">
                            <div class="form-group ">
                                <div class="pos-r">                                        
                                    <input   id="form-username" type="text" formControlName="email" placeholder="E-Posta" class="form-username form-control">
                                    <i class="fa fa-user"></i>
                                    <span></span>
                                </div>
                            </div>
                            <div class="form-group">     
                                <button type="submit" (click)="sendActivationMail()" class="sign-btn form-control"><a href="#"><strong>Kod Gönder</strong></a></button>  
                            </div>     
                            <div class="form-group">     
                              <button type="submit" [routerLink]="['/login']" class="turn-back-btn form-control"><a href="#"><strong>Giriş Yap</strong></a></button>  
                          </div>                                                                       
                        </form>
                    </div> <!-- end  login-body -->                     
                </div><!-- end  login-content -->  
            
            </div> 
            
            <div class="" *ngIf="isCodeSended== true">
                <div class="login-header text-center ">
                <div class="login-body">
                    <form role="form"  [formGroup]="changePasswordForm"  class="login-form">
                        <div class="form-group ">
                            <div class="pos-r mb-2">                                        
                                <input   id="form-email" type="text" formControlName="email" placeholder="E-Posta" class="form-email form-control">
                                <i class="fa fa-user"></i>
                                <span></span>
                            </div>
                            <div class="pos-r mb-2">                                        
                                <input   id="form-new-password" type="password" formControlName="newPassword" placeholder="New Password" class="form-new-password form-control">
                                <i class="fa fa-user"></i>
                                <span></span>
                            </div>
                            <div class="pos-r mb-2">                                        
                              <input type="password" formControlName="passwordConfirm" placeholder="Password Confirm"  class="form-control" >
                              <i class="fa fa-user"></i>
                              <span></span>
                          </div>
                            <div class="pos-r mb-2">                                        
                                <input   id="form-private-key" type="text" formControlName="privateKey" placeholder="Code" class="form-private-key form-control">
                                <i class="fa fa-user"></i>
                                <span></span>
                            </div>
                        </div>
                        <div class="form-group">     
                            <button type="submit" (click)="changePassword()" class="sign-btn form-control"><a href="#"><strong>Şifreyi Güncelle</strong></a></button>  
                        </div>  
                        <div class="form-group">     
                          <button type="submit" [routerLink]="['/login']" class="turn-back-btn form-control"><a href="#"><strong>Giriş Yap</strong></a></button>  
                      </div>   
                    </form>
                </div> <!-- end  login-body -->                     
            </div><!-- end  login-content -->  
   
        </div><!-- end  login-container -->      
     
        </div>
      
    </div>
 
</div> 



