<div class="container-fluid">
    <div class="contact__wrapper shadow-lg mt-5 mr-5">
      <div class="row no-gutters">
        <div
          class="col-5 col-sm-5 col-md-5 col-lg-5 col-xl-3 contact-info__wrapper gradient-brand-color p-2 order-lg-5 rounded-right">
  
          <div class="mt-3">
            <ul class="contact-info__list list-style--none position-relative z-index-101">
              <li class="mb-4 pl-4"><a class="accounttext" [routerLink]="['/employee/settings/customer-informations']">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person"
                    viewBox="0 0 16 16">
                    <path
                      d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z" />
                  </svg>
                  {{lang.profile}}
                </a>
              </li>
              <li class="mb-4 pl-4"><a class="accounttext" [routerLink]="['/employee/settings/employee-change-password']">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                </svg>
                {{lang.changepassword}}
              </a>
            </li>
   
     
  
  
  
            </ul>
          </div>
  
          <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:10px; right: 10px">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="567px"
              height="626px">
              <defs>
                <linearGradient id="PSgrad_1" x1="0%" x2="21.915%" y1="99.358%" y2="0%">
                  <stop offset="0%" stop-color="red" stop-opacity="10"></stop>
                  <stop offset="100%" stop-color="orange" stop-opacity="0"></stop>
                </linearGradient>
  
              </defs>
              <path fill-rule="evenodd" opacity="0.302" fill="rgb(241, 114, 83, 1)"
                d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
              <path fill="url(#PSgrad_1)"
                d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            </svg>
          </figure>
        </div>
  
        <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-9 contact-form__wrapper p-5 order-lg-1"
          style="background-color: white;">
          <router-outlet></router-outlet>
        </div>
        <!-- End Contact Form Wrapper -->
  
      </div>
    </div>
  </div>