<!-- <h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3>
  <p>Learn one way to build applications with Angular and reuse your code and abilities to build
    apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions> -->







<!-- <h2 mat-dialog-title>Product Images</h2>
<mat-dialog-content class="mat-typography">
  <app-file-upload [options]="options"></app-file-upload>




  <mat-card class="product-image-card" *ngFor="let image of images">
    <mat-card-header>
      <input type="radio" name="img" (click)="showCase(image.id)"  />
    </mat-card-header>
    <img mat-card-image [src]="image.path">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="background-color:chocolate;color:wheat;" (click)="deleteImage(image.id, $event)">DELETE</button>
    </mat-card-actions>
  </mat-card> -->