.form{
    width: 46%;
    margin-left: 3%;
    padding-top: 5%;
    /* background: linear-gradient(45deg, #0C2081, #2d44c4a2); */
}
.mb-3{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-right: 5%;
}

.mb-3 button{
    margin-left: 22%;
    margin-top: 6%;
    width: 130px;
    height: 50px;

}
input{
    text-align: left;
    height: 50px;
}
