<div class="container-fluid">
  <div class="left">
<form [formGroup]="receiptAddForm" class="form">

    <div class="mb-3">
        <label for="documentDate">{{lang.receiptDate}}</label>
        <div class="form-group">
          <input
            type="date"
            id="documentDate"
            formControlName="documentDate"
            class="form-control"
            placeholder="Fiş Tarihini giriniz"
          />
        </div>
    </div>
    <div class="mb-3">
        <label for="total">{{lang.receiptTotal}}</label>
        <div class="form-group">
          <input
            type="number"
            id="total"
            formControlName="total"
            class="form-control"
            placeholder="{{lang.receiptTotal}}"
          />
        </div>
    </div>
    <div class="mb-3">
        <label for="documentDescription">{{lang.receiptDescription}}</label>
        <div class="form-group">
          <input
           type="text"
           id="documentDescription"
           formControlName="documentDescription"
           class="form-control"
           placeholder="{{lang.receiptDescription}}"
         />
      </div>
   </div>
    <div class="mb-3">
      <label for="companyName">{{lang.company}}</label>
      <div class="form-group">
        <input
          type="text"
          id="companyName"
          formControlName="companyName"
          class="form-control"
          placeholder="{{lang.company}}"
        />
      </div>
    </div>
  
   
   <div class="mb-3">
    <label for="authorizedName">{{lang.authorizedName}}</label>
    <div class="form-group">
      <input
        type="text"
        id="authorizedName"
        formControlName="authorizedName"
        class="form-control"
        placeholder="{{lang.authorizedName}}"
      />
    </div>
  </div>

  <div class="mb-3">
    <label for="address">{{lang.address}}</label>
    <div class="form-group">
      <input
        type="text"
        id="address"
        formControlName="address"
        class="form-control"
        placeholder="{{lang.address}}"
      />
    </div>
  </div>
      <div class="mb-3">
        <label for="receiptImage">{{lang.receiptImage}}</label>
        <!-- <div class="form-group">
          <input
            type="file"
            id="receiptImage"
            formControlName="receiptImage"
            class="form-control"
            placeholder="{{lang.receiptImage}}"
          />
        </div> -->
        <div style="text-align:center">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <div><img [src]="url" *ngIf="url" style="width: 200px; height: 200px;"></div>
          <p>
            <input type="file" (change)="selectFile($event)"formControlName="receiptImage"placeholder="{{lang.receiptImage}}"class="form-control">
          </p>
        </div>
      </div>
      <div class="mb-3">
        <button type="button" class="btn btn-danger"id="buton" (click)="add()">{{lang.add}}</button>
      </div>
  </form>
</div>
  <div class="right">
  <app-receipt></app-receipt>
  </div>
</div>
